SCAN/SCANHarvester/Connected Services/Awdb/AwdbWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.wcc.nrcs.usda.gov/ns/awdbWebService" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AwdbWebService" targetNamespace="http://www.wcc.nrcs.usda.gov/ns/awdbWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://www.wcc.nrcs.usda.gov/ns/awdbWebService" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="areYouThere" type="tns:areYouThere" />
      <xs:element name="areYouThereResponse" type="tns:areYouThereResponse" />
      <xs:element name="getAllForecastsForStation" type="tns:getAllForecastsForStation" />
      <xs:element name="getAllForecastsForStationResponse" type="tns:getAllForecastsForStationResponse" />
      <xs:element name="getAveragesData" type="tns:getAveragesData" />
      <xs:element name="getAveragesDataResponse" type="tns:getAveragesDataResponse" />
      <xs:element name="getAveragesPeak" type="tns:getAveragesPeak" />
      <xs:element name="getAveragesPeakResponse" type="tns:getAveragesPeakResponse" />
      <xs:element name="getCentralTendencyData" type="tns:getCentralTendencyData" />
      <xs:element name="getCentralTendencyDataResponse" type="tns:getCentralTendencyDataResponse" />
      <xs:element name="getCentralTendencyPeakData" type="tns:getCentralTendencyPeakData" />
      <xs:element name="getCentralTendencyPeakDataResponse" type="tns:getCentralTendencyPeakDataResponse" />
      <xs:element name="getData" type="tns:getData" />
      <xs:element name="getDataInsertedOrUpdatedSince" type="tns:getDataInsertedOrUpdatedSince" />
      <xs:element name="getDataInsertedOrUpdatedSinceResponse" type="tns:getDataInsertedOrUpdatedSinceResponse" />
      <xs:element name="getDataResponse" type="tns:getDataResponse" />
      <xs:element name="getElement" type="tns:getElement" />
      <xs:element name="getElementResponse" type="tns:getElementResponse" />
      <xs:element name="getElements" type="tns:getElements" />
      <xs:element name="getElementsResponse" type="tns:getElementsResponse" />
      <xs:element name="getForecast" type="tns:getForecast" />
      <xs:element name="getForecastConfigurations" type="tns:getForecastConfigurations" />
      <xs:element name="getForecastConfigurationsResponse" type="tns:getForecastConfigurationsResponse" />
      <xs:element name="getForecastEquations" type="tns:getForecastEquations" />
      <xs:element name="getForecastEquationsMultiple" type="tns:getForecastEquationsMultiple" />
      <xs:element name="getForecastEquationsMultipleResponse" type="tns:getForecastEquationsMultipleResponse" />
      <xs:element name="getForecastEquationsResponse" type="tns:getForecastEquationsResponse" />
      <xs:element name="getForecastPeriodAverages" type="tns:getForecastPeriodAverages" />
      <xs:element name="getForecastPeriodAveragesResponse" type="tns:getForecastPeriodAveragesResponse" />
      <xs:element name="getForecastPeriodCentralTendency" type="tns:getForecastPeriodCentralTendency" />
      <xs:element name="getForecastPeriodCentralTendencyResponse" type="tns:getForecastPeriodCentralTendencyResponse" />
      <xs:element name="getForecastPeriods" type="tns:getForecastPeriods" />
      <xs:element name="getForecastPeriodsResponse" type="tns:getForecastPeriodsResponse" />
      <xs:element name="getForecastPoint" type="tns:getForecastPoint" />
      <xs:element name="getForecastPointResponse" type="tns:getForecastPointResponse" />
      <xs:element name="getForecastPoints" type="tns:getForecastPoints" />
      <xs:element name="getForecastPointsResponse" type="tns:getForecastPointsResponse" />
      <xs:element name="getForecastResponse" type="tns:getForecastResponse" />
      <xs:element name="getForecastValue" type="tns:getForecastValue" />
      <xs:element name="getForecastValueResponse" type="tns:getForecastValueResponse" />
      <xs:element name="getForecasts" type="tns:getForecasts" />
      <xs:element name="getForecastsByPubDate" type="tns:getForecastsByPubDate" />
      <xs:element name="getForecastsByPubDateResponse" type="tns:getForecastsByPubDateResponse" />
      <xs:element name="getForecastsResponse" type="tns:getForecastsResponse" />
      <xs:element name="getHeightDepths" type="tns:getHeightDepths" />
      <xs:element name="getHeightDepthsResponse" type="tns:getHeightDepthsResponse" />
      <xs:element name="getHourlyData" type="tns:getHourlyData" />
      <xs:element name="getHourlyDataResponse" type="tns:getHourlyDataResponse" />
      <xs:element name="getInstantaneousData" type="tns:getInstantaneousData" />
      <xs:element name="getInstantaneousDataInsertedOrUpdatedSince" type="tns:getInstantaneousDataInsertedOrUpdatedSince" />
      <xs:element name="getInstantaneousDataInsertedOrUpdatedSinceResponse" type="tns:getInstantaneousDataInsertedOrUpdatedSinceResponse" />
      <xs:element name="getInstantaneousDataResponse" type="tns:getInstantaneousDataResponse" />
      <xs:element name="getPeakData" type="tns:getPeakData" />
      <xs:element name="getPeakDataResponse" type="tns:getPeakDataResponse" />
      <xs:element name="getReservoirMetadata" type="tns:getReservoirMetadata" />
      <xs:element name="getReservoirMetadataMultiple" type="tns:getReservoirMetadataMultiple" />
      <xs:element name="getReservoirMetadataMultipleResponse" type="tns:getReservoirMetadataMultipleResponse" />
      <xs:element name="getReservoirMetadataResponse" type="tns:getReservoirMetadataResponse" />
      <xs:element name="getStationDataAssuredFlags" type="tns:getStationDataAssuredFlags" />
      <xs:element name="getStationDataAssuredFlagsResponse" type="tns:getStationDataAssuredFlagsResponse" />
      <xs:element name="getStationElements" type="tns:getStationElements" />
      <xs:element name="getStationElementsResponse" type="tns:getStationElementsResponse" />
      <xs:element name="getStationMetadata" type="tns:getStationMetadata" />
      <xs:element name="getStationMetadataMultiple" type="tns:getStationMetadataMultiple" />
      <xs:element name="getStationMetadataMultipleResponse" type="tns:getStationMetadataMultipleResponse" />
      <xs:element name="getStationMetadataResponse" type="tns:getStationMetadataResponse" />
      <xs:element name="getStations" type="tns:getStations" />
      <xs:element name="getStationsResponse" type="tns:getStationsResponse" />
      <xs:element name="getUnitName" type="tns:getUnitName" />
      <xs:element name="getUnitNameResponse" type="tns:getUnitNameResponse" />
      <xs:element name="getUnits" type="tns:getUnits" />
      <xs:element name="getUnitsResponse" type="tns:getUnitsResponse" />
      <xs:element name="runDiagnostics" type="tns:runDiagnostics" />
      <xs:element name="runDiagnosticsResponse" type="tns:runDiagnosticsResponse" />
      <xs:complexType name="getElements">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getElementsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:element" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="element">
        <xs:sequence>
          <xs:element minOccurs="0" name="elementCd" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="storedUnitCd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getElement">
        <xs:sequence>
          <xs:element name="elementCd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getElementResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:element" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastEquations">
        <xs:sequence>
          <xs:element name="stationTriplet" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastEquationsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:forecastEquation" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="forecastEquation">
        <xs:sequence>
          <xs:element minOccurs="0" name="comment" type="xs:string" />
          <xs:element minOccurs="0" name="dataSource" type="xs:string" />
          <xs:element minOccurs="0" name="elementCd" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="equationTerms" nillable="true" type="tns:forecastEquationTerm" />
          <xs:element minOccurs="0" name="footnotes" type="xs:string" />
          <xs:element minOccurs="0" name="forecastCondition" type="xs:string" />
          <xs:element minOccurs="0" name="forecastPeriod" type="xs:string" />
          <xs:element minOccurs="0" name="forecastType" type="xs:string" />
          <xs:element minOccurs="0" name="function" type="xs:string" />
          <xs:element minOccurs="0" name="functionArgument" type="xs:decimal" />
          <xs:element minOccurs="0" name="interceptConstant" type="xs:decimal" />
          <xs:element name="key" type="xs:int" />
          <xs:element minOccurs="0" name="maxOfRecord" type="xs:decimal" />
          <xs:element minOccurs="0" name="minOfRecord" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="monthlyCorrelationCoefficients" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="monthlyStderrValues" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="publicationMonthsAndDays" nillable="true" type="tns:monthAndDay" />
          <xs:element name="published" type="xs:boolean" />
          <xs:element minOccurs="0" name="stationTriplet" type="xs:string" />
          <xs:element name="transformErrorsOnly" type="xs:boolean" />
          <xs:element minOccurs="0" name="unitCd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="forecastEquationTerm">
        <xs:sequence>
          <xs:element minOccurs="0" name="coefficient" type="xs:decimal" />
          <xs:element minOccurs="0" name="dataPeriodDays" type="xs:string" />
          <xs:element minOccurs="0" name="dataPeriodMonth" type="xs:string" />
          <xs:element minOccurs="0" name="dataYearFlag" type="xs:string" />
          <xs:element minOccurs="0" name="stationElement" type="tns:stationElement" />
          <xs:element minOccurs="0" name="unitCd" type="xs:string" />
          <xs:element name="upstreamForecast" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stationElement">
        <xs:sequence>
          <xs:element minOccurs="0" name="beginDate" type="xs:string" />
          <xs:element minOccurs="0" name="dataPrecision" type="xs:int" />
          <xs:element minOccurs="0" name="dataSource" type="tns:dataSource" />
          <xs:element minOccurs="0" name="duration" type="tns:duration" />
          <xs:element minOccurs="0" name="elementCd" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="heightDepth" type="tns:heightDepth" />
          <xs:element name="ordinal" type="xs:int" />
          <xs:element minOccurs="0" name="originalUnitCd" type="xs:string" />
          <xs:element minOccurs="0" name="stationTriplet" type="xs:string" />
          <xs:element minOccurs="0" name="storedUnitCd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="heightDepth">
        <xs:sequence>
          <xs:element minOccurs="0" name="unitCd" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="monthAndDay">
        <xs:sequence>
          <xs:element name="day" type="xs:int" />
          <xs:element name="month" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecasts">
        <xs:sequence>
          <xs:element name="stationTriplet" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element name="forecastPeriod" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:forecast" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="forecast">
        <xs:sequence>
          <xs:element minOccurs="0" name="calculationDate" type="xs:string" />
          <xs:element minOccurs="0" name="elementCd" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="exceedenceProbabilities" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="exceedenceValues" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="forecastPeriod" type="xs:string" />
          <xs:element minOccurs="0" name="periodAverage" type="xs:decimal" />
          <xs:element minOccurs="0" name="publicationDate" type="xs:string" />
          <xs:element minOccurs="0" name="stationTriplet" type="xs:string" />
          <xs:element minOccurs="0" name="unitCd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getHourlyData">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element name="ordinal" type="xs:int" />
          <xs:element minOccurs="0" name="heightDepth" type="tns:heightDepth" />
          <xs:element name="beginDate" type="xs:string" />
          <xs:element name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="beginHour" type="xs:int" />
          <xs:element minOccurs="0" name="endHour" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getHourlyDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:hourlyData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="hourlyData">
        <xs:sequence>
          <xs:element minOccurs="0" name="beginDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="stationTriplet" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="values" nillable="true" type="tns:hourlyDataValue" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="hourlyDataValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateTime" type="xs:string" />
          <xs:element minOccurs="0" name="flag" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReservoirMetadata">
        <xs:sequence>
          <xs:element name="stationTriplet" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReservoirMetadataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:reservoirMetadata" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reservoirMetadata">
        <xs:sequence>
          <xs:element minOccurs="0" name="elevationAtCapacity" type="xs:decimal" />
          <xs:element minOccurs="0" name="reservoirCapacity" type="xs:decimal" />
          <xs:element minOccurs="0" name="stationTriplet" type="xs:string" />
          <xs:element minOccurs="0" name="usableCapacity" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastPoint">
        <xs:sequence>
          <xs:element name="stationTriplet" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastPointResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:forecastPoint" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="forecastPoint">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="exceedenceProbabilities" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="responsibleForecaster" type="xs:string" />
          <xs:element minOccurs="0" name="stationTriplet" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCentralTendencyPeakData">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element minOccurs="0" name="heightDepth" type="tns:heightDepth" />
          <xs:element name="duration" type="tns:duration" />
          <xs:element name="getFlags" type="xs:boolean" />
          <xs:element name="centralTendencyType" type="tns:centralTendencyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCentralTendencyPeakDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:centralTendencyPeakData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="centralTendencyPeakData">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:averagesPeakData">
            <xs:sequence>
              <xs:element minOccurs="0" name="centralTendencyType" type="tns:centralTendencyType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="averagesPeakData">
        <xs:sequence>
          <xs:element minOccurs="0" name="duration" type="tns:duration" />
          <xs:element minOccurs="0" name="flag" type="xs:string" />
          <xs:element name="peakDay" type="xs:int" />
          <xs:element name="peakMonth" type="xs:int" />
          <xs:element minOccurs="0" name="value" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastPeriodCentralTendency">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="periods" type="xs:string" />
          <xs:element name="centralTendencyType" type="tns:centralTendencyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastPeriodCentralTendencyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:forecastPeriodCentralTendency" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="forecastPeriodCentralTendency">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:forecastPeriodAverage">
            <xs:sequence>
              <xs:element minOccurs="0" name="centralTendencyType" type="tns:centralTendencyType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="forecastPeriodAverage">
        <xs:sequence>
          <xs:element minOccurs="0" name="flag" type="xs:string" />
          <xs:element minOccurs="0" name="forecastPeriod" type="xs:string" />
          <xs:element minOccurs="0" name="stationTriplet" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastValue">
        <xs:sequence>
          <xs:element name="stationTriplet" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element name="forecastPeriod" type="xs:string" />
          <xs:element name="probability" type="xs:int" />
          <xs:element name="publicationYear" type="xs:int" />
          <xs:element name="publicationMonth" type="xs:int" />
          <xs:element name="publicationDay" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastValueResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUnits">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getUnitsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:unit" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="unit">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="unitCd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCentralTendencyData">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element minOccurs="0" name="heightDepth" type="tns:heightDepth" />
          <xs:element name="duration" type="tns:duration" />
          <xs:element name="getFlags" type="xs:boolean" />
          <xs:element name="beginMonth" type="xs:int" />
          <xs:element name="beginDay" type="xs:int" />
          <xs:element name="endMonth" type="xs:int" />
          <xs:element name="endDay" type="xs:int" />
          <xs:element name="centralTendencyType" type="tns:centralTendencyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCentralTendencyDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:centralTendencyData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="centralTendencyData">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:averagesData">
            <xs:sequence>
              <xs:element minOccurs="0" name="centralTendencyType" type="tns:centralTendencyType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="averagesData">
        <xs:sequence>
          <xs:element name="beginDay" type="xs:int" />
          <xs:element name="beginMonth" type="xs:int" />
          <xs:element minOccurs="0" name="dataSetFlag" type="xs:string" />
          <xs:element minOccurs="0" name="duration" type="tns:duration" />
          <xs:element name="endDay" type="xs:int" />
          <xs:element name="endMonth" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="flags" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="values" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getStationMetadata">
        <xs:sequence>
          <xs:element name="stationTriplet" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getStationMetadataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:stationMetaData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stationMetaData">
        <xs:sequence>
          <xs:element minOccurs="0" name="actonId" type="xs:string" />
          <xs:element minOccurs="0" name="beginDate" type="xs:string" />
          <xs:element minOccurs="0" name="countyName" type="xs:string" />
          <xs:element minOccurs="0" name="elevation" type="xs:decimal" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="fipsCountryCd" type="xs:string" />
          <xs:element minOccurs="0" name="fipsCountyCd" type="xs:string" />
          <xs:element minOccurs="0" name="fipsStateNumber" type="xs:string" />
          <xs:element minOccurs="0" name="huc" type="xs:string" />
          <xs:element minOccurs="0" name="hud" type="xs:string" />
          <xs:element minOccurs="0" name="latitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="longitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="shefId" type="xs:string" />
          <xs:element minOccurs="0" name="stationDataTimeZone" type="xs:decimal" />
          <xs:element minOccurs="0" name="stationTimeZone" type="xs:decimal" />
          <xs:element minOccurs="0" name="stationTriplet" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPeakData">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element name="ordinal" type="xs:int" />
          <xs:element minOccurs="0" name="heightDepth" type="tns:heightDepth" />
          <xs:element name="duration" type="tns:duration" />
          <xs:element name="getFlags" type="xs:boolean" />
          <xs:element name="beginYear" type="xs:int" />
          <xs:element name="endYear" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPeakDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:peakData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="peakData">
        <xs:sequence>
          <xs:element name="beginYear" type="xs:int" />
          <xs:element minOccurs="0" name="duration" type="tns:duration" />
          <xs:element name="endYear" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="flags" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="peakDays" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="peakMonths" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="values" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="runDiagnostics">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="runDiagnosticsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:diagnostics" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="diagnostics">
        <xs:sequence>
          <xs:element name="hasSucceeded" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="testResults" nillable="true" type="tns:diagnosticTestResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="diagnosticTestResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
          <xs:element minOccurs="0" name="exception" type="tns:diagnosticException" />
          <xs:element name="hasSucceeded" type="xs:boolean" />
          <xs:element minOccurs="0" name="testDescription" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="diagnosticException">
        <xs:sequence>
          <xs:element minOccurs="0" name="cause" type="tns:diagnosticException" />
          <xs:element minOccurs="0" name="exceptionClass" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="strackTrace" nillable="true" type="tns:diagnosticStackTraceElement" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="diagnosticStackTraceElement">
        <xs:sequence>
          <xs:element minOccurs="0" name="className" type="xs:string" />
          <xs:element minOccurs="0" name="fileName" type="xs:string" />
          <xs:element name="lineNumber" type="xs:int" />
          <xs:element minOccurs="0" name="methodName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastConfigurations">
        <xs:sequence>
          <xs:element name="forecaster" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastConfigurationsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:configuration" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="configuration">
        <xs:sequence>
          <xs:element minOccurs="0" name="analysisType" type="xs:string" />
          <xs:element name="calibrationEndYear" type="xs:int" />
          <xs:element name="calibrationStartYear" type="xs:int" />
          <xs:element minOccurs="0" name="comment" type="xs:string" />
          <xs:element name="componentsToRetain" type="xs:int" />
          <xs:element minOccurs="0" name="creationDate" type="xs:string" />
          <xs:element name="dailyForecast" type="xs:boolean" />
          <xs:element minOccurs="0" name="dailyForecastThreshold" type="xs:decimal" />
          <xs:element name="dailyForecastThresholdRelative" type="xs:boolean" />
          <xs:element name="dataForcedSeriallyComplete" type="xs:boolean" />
          <xs:element name="degreesOfFreedom" type="xs:int" />
          <xs:element minOccurs="0" name="forecastCondition" type="xs:string" />
          <xs:element minOccurs="0" name="forecastType" type="xs:string" />
          <xs:element minOccurs="0" name="forecaster" type="xs:string" />
          <xs:element minOccurs="0" name="functionArgument" type="xs:decimal" />
          <xs:element minOccurs="0" name="functionCd" type="xs:string" />
          <xs:element minOccurs="0" name="helperDataSource" type="xs:string" />
          <xs:element minOccurs="0" name="helperElementCd" type="xs:string" />
          <xs:element name="helperEndDay" type="xs:int" />
          <xs:element name="helperEndMonth" type="xs:int" />
          <xs:element minOccurs="0" name="helperEndYearFlag" type="xs:string" />
          <xs:element name="helperMixedPastEndDay" type="xs:int" />
          <xs:element name="helperMixedPastEndMonth" type="xs:int" />
          <xs:element minOccurs="0" name="helperMixedPastEndYearFlag" type="xs:string" />
          <xs:element name="helperMixedPastStartDay" type="xs:int" />
          <xs:element name="helperMixedPastStartMonth" type="xs:int" />
          <xs:element minOccurs="0" name="helperMixedPastStartYearFlag" type="xs:string" />
          <xs:element name="helperPredictorUsed" type="xs:boolean" />
          <xs:element name="helperStartDay" type="xs:int" />
          <xs:element name="helperStartMonth" type="xs:int" />
          <xs:element minOccurs="0" name="helperStartYearFlag" type="xs:string" />
          <xs:element minOccurs="0" name="helperStationTriplet" type="xs:string" />
          <xs:element name="helperUsedInOverlappingYears" type="xs:boolean" />
          <xs:element name="helperVarianceMatchedToObserved" type="xs:boolean" />
          <xs:element name="jackKnifingUsed" type="xs:boolean" />
          <xs:element name="key" type="xs:int" />
          <xs:element minOccurs="0" name="minimumR2ForPredictor" type="xs:decimal" />
          <xs:element name="minimumYearsForPredictor" type="xs:int" />
          <xs:element name="mixedPastEndDay" type="xs:int" />
          <xs:element name="mixedPastEndMonth" type="xs:int" />
          <xs:element minOccurs="0" name="mixedPastEndYearFlag" type="xs:string" />
          <xs:element name="mixedPastStartDay" type="xs:int" />
          <xs:element name="mixedPastStartMonth" type="xs:int" />
          <xs:element minOccurs="0" name="mixedPastStartYearFlag" type="xs:string" />
          <xs:element name="mixedPastUsed" type="xs:boolean" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element name="numYearsUsed" type="xs:int" />
          <xs:element name="optimalWeightingUsed" type="xs:boolean" />
          <xs:element minOccurs="0" name="overrideAverage" type="xs:decimal" />
          <xs:element minOccurs="0" name="overrideStderr" type="xs:decimal" />
          <xs:element minOccurs="0" name="pastFlowRealtime" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="predictorGroups" nillable="true" type="tns:predictorGroup" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="predictors" nillable="true" type="tns:predictor" />
          <xs:element minOccurs="0" name="preprocessingConstant" type="xs:decimal" />
          <xs:element minOccurs="0" name="preprocessingMultiplier" type="xs:decimal" />
          <xs:element minOccurs="0" name="publicationCd" type="xs:string" />
          <xs:element minOccurs="0" name="TTestLimit" type="xs:decimal" />
          <xs:element minOccurs="0" name="targetDataSource" type="xs:string" />
          <xs:element minOccurs="0" name="targetElementCd" type="xs:string" />
          <xs:element name="targetEndDay" type="xs:int" />
          <xs:element name="targetEndMonth" type="xs:int" />
          <xs:element minOccurs="0" name="targetEndYearFlag" type="xs:string" />
          <xs:element name="targetStartDay" type="xs:int" />
          <xs:element name="targetStartMonth" type="xs:int" />
          <xs:element minOccurs="0" name="targetStartYearFlag" type="xs:string" />
          <xs:element minOccurs="0" name="targetStationName" type="xs:string" />
          <xs:element minOccurs="0" name="targetStationTriplet" type="xs:string" />
          <xs:element name="transformErrorsOnly" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="predictorGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="customStationListName" type="xs:string" />
          <xs:element minOccurs="0" name="dataSourceCd" type="xs:string" />
          <xs:element minOccurs="0" name="elementCd" type="xs:string" />
          <xs:element name="globalMonthChangeAllowed" type="xs:boolean" />
          <xs:element minOccurs="0" name="groupName" type="xs:string" />
          <xs:element minOccurs="0" name="groupNumber" type="xs:int" />
          <xs:element name="negativeWeightAllowed" type="xs:boolean" />
          <xs:element minOccurs="0" name="networks" type="xs:string" />
          <xs:element minOccurs="0" name="states" type="xs:string" />
          <xs:element name="upstreamForecast" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="predictor">
        <xs:sequence>
          <xs:element name="endDay" type="xs:int" />
          <xs:element name="endMonth" type="xs:int" />
          <xs:element minOccurs="0" name="endYearFlag" type="xs:string" />
          <xs:element name="groupNumber" type="xs:int" />
          <xs:element name="predictorNumber" type="xs:int" />
          <xs:element name="predictorUsed" type="xs:boolean" />
          <xs:element name="startDay" type="xs:int" />
          <xs:element name="startMonth" type="xs:int" />
          <xs:element minOccurs="0" name="startYearFlag" type="xs:string" />
          <xs:element minOccurs="0" name="stationTriplet" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastPeriodAverages">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="periods" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastPeriodAveragesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:forecastPeriodAverage" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getStationElements">
        <xs:sequence>
          <xs:element name="stationTriplet" type="xs:string" />
          <xs:element minOccurs="0" name="beginDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getStationElementsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:stationElement" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDataInsertedOrUpdatedSince">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element name="ordinal" type="xs:int" />
          <xs:element minOccurs="0" name="heightDepth" type="tns:heightDepth" />
          <xs:element name="duration" type="tns:duration" />
          <xs:element name="getFlags" type="xs:boolean" />
          <xs:element name="beginDate" type="xs:string" />
          <xs:element name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="insertOrUpdateBeginDate" type="xs:string" />
          <xs:element minOccurs="0" name="alwaysReturnDailyFeb29" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDataInsertedOrUpdatedSinceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:insertedOrUpdatedData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="insertedOrUpdatedData">
        <xs:sequence>
          <xs:element minOccurs="0" name="beginDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="dataContentList" nillable="true" type="tns:insertedOrUpdatedDataContent" />
          <xs:element minOccurs="0" name="duration" type="tns:duration" />
          <xs:element minOccurs="0" name="elementCd" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="stationTriplet" type="xs:string" />
          <xs:element name="timezoneOffset" type="xs:int" />
          <xs:element minOccurs="0" name="unitCd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="insertedOrUpdatedDataContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="collectionDate" type="xs:string" />
          <xs:element minOccurs="0" name="flag" type="xs:string" />
          <xs:element minOccurs="0" name="timestamp" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAveragesData">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element minOccurs="0" name="heightDepth" type="tns:heightDepth" />
          <xs:element name="duration" type="tns:duration" />
          <xs:element name="getFlags" type="xs:boolean" />
          <xs:element name="beginMonth" type="xs:int" />
          <xs:element name="beginDay" type="xs:int" />
          <xs:element name="endMonth" type="xs:int" />
          <xs:element name="endDay" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAveragesDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:averagesData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastPeriods">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getForecastPeriodsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:forecastPeriod" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="forecastPeriod">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="forecastPeriod" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getHeightDepths">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getHeightDepthsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:heightDepth" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="areYouThere">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="areYouThereResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReservoirMetadataMultiple">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReservoirMetadataMultipleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reservoirMetadata" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getInstantaneousData">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element name="ordinal" type="xs:int" />
          <xs:element minOccurs="0" name="heightDepth" type="tns:heightDepth" />
          <xs:element name="beginDate" type="xs:string" />
          <xs:element name="endDate" type="xs:string" />
          <xs:element name="filter" type="tns:instantaneousDataFilter" />
          <xs:element name="unitSystem" type="tns:unitSystem" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getInstantaneousDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:instantaneousData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="instantaneousData">
        <xs:sequence>
          <xs:element minOccurs="0" name="beginDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element name="stationId" type="xs:int" />
          <xs:element minOccurs="0" name="unitCd" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="values" nillable="true" type="tns:instantaneousDataValue" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="instantaneousDataValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="flag" type="xs:string" />
          <xs:element minOccurs="0" name="time" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getData">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element name="ordinal" type="xs:int" />
          <xs:element minOccurs="0" name="heightDepth" type="tns:heightDepth" />
          <xs:element name="duration" type="tns:duration" />
          <xs:element name="getFlags" type="xs:boolean" />
          <xs:element name="beginDate" type="xs:string" />
          <xs:element name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="alwaysReturnDailyFeb29" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:data" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="data">
        <xs:sequence>
          <xs:element minOccurs="0" name="beginDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="collectionDates" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="duration" type="tns:duration" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="flags" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="stationTriplet" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="values" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecast">
        <xs:sequence>
          <xs:element name="stationTriplet" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element name="forecastPeriod" type="xs:string" />
          <xs:element name="publicationDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:forecast" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getStations">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stationIds" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stateCds" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="networkCds" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="hucs" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="countyNames" type="xs:string" />
          <xs:element minOccurs="0" name="minLatitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="maxLatitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="minLongitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="maxLongitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="minElevation" type="xs:decimal" />
          <xs:element minOccurs="0" name="maxElevation" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="elementCds" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ordinals" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="heightDepths" type="tns:heightDepth" />
          <xs:element name="logicalAnd" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getStationsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastsByPubDate">
        <xs:sequence>
          <xs:element name="stationTriplet" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element name="forecastPeriod" type="xs:string" />
          <xs:element name="beginPublicationDate" type="xs:string" />
          <xs:element name="endPublicationDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastsByPubDateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:forecast" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUnitName">
        <xs:sequence>
          <xs:element name="unitCd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUnitNameResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllForecastsForStation">
        <xs:sequence>
          <xs:element name="stationTriplet" type="xs:string" />
          <xs:element name="beginPublicationDate" type="xs:string" />
          <xs:element name="endPublicationDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllForecastsForStationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:forecastFull" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="forecastFull">
        <xs:sequence>
          <xs:element minOccurs="0" name="comment" type="xs:string" />
          <xs:element minOccurs="0" name="configuration" type="tns:configuration" />
          <xs:element minOccurs="0" name="coordinatedForecastIssueDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="coordinatedForecastProbabilities" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="coordinatedForecastValues" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="elementCd" type="xs:string" />
          <xs:element minOccurs="0" name="equation" type="tns:forecastEquation" />
          <xs:element name="forecastFinal" type="xs:boolean" />
          <xs:element minOccurs="0" name="forecastPeriodCd" type="xs:string" />
          <xs:element minOccurs="0" name="forecastPeriodName" type="xs:string" />
          <xs:element minOccurs="0" name="forecaster" type="xs:string" />
          <xs:element minOccurs="0" name="hydrologistForecastIssueDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="hydrologistForecastProbabilities" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="hydrologistForecastValues" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="originalForecastIssueDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="originalForecastProbabilities" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="originalForecastValues" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="otherAgencyCds" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="otherAgencyForecastValues" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="periodAverage" type="xs:decimal" />
          <xs:element minOccurs="0" name="publicationDate" type="xs:string" />
          <xs:element minOccurs="0" name="stationTriplet" type="xs:string" />
          <xs:element minOccurs="0" name="unitCd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastEquationsMultiple">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastEquationsMultipleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:forecastEquation" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAveragesPeak">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element minOccurs="0" name="heightDepth" type="tns:heightDepth" />
          <xs:element name="duration" type="tns:duration" />
          <xs:element name="getFlags" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAveragesPeakResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:averagesPeakData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getInstantaneousDataInsertedOrUpdatedSince">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element name="ordinal" type="xs:int" />
          <xs:element minOccurs="0" name="heightDepth" type="tns:heightDepth" />
          <xs:element name="beginDate" type="xs:string" />
          <xs:element name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="insertOrUpdateBeginDate" type="xs:string" />
          <xs:element name="filter" type="tns:instantaneousDataFilter" />
          <xs:element name="unitSystem" type="tns:unitSystem" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getInstantaneousDataInsertedOrUpdatedSinceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:instantaneousData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getStationDataAssuredFlags">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
          <xs:element name="elementCd" type="xs:string" />
          <xs:element name="ordinal" type="xs:int" />
          <xs:element minOccurs="0" name="heightDepth" type="tns:heightDepth" />
          <xs:element name="durationCd" type="xs:string" />
          <xs:element name="beginWaterYear" type="xs:int" />
          <xs:element name="endWaterYear" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getStationDataAssuredFlagsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:stationDataAssuredFlags" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stationDataAssuredFlags">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="assuredFlags" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="stationTriplet" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastPoints">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stationIds" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stateCds" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="networkCds" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="forecastPointNames" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="hucs" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="forecasters" type="xs:string" />
          <xs:element name="logicalAnd" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getForecastPointsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:forecastPoint" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getStationMetadataMultiple">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="stationTriplets" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getStationMetadataMultipleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:stationMetaData" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="dataSource">
        <xs:restriction base="xs:string">
          <xs:enumeration value="OBSERVED" />
          <xs:enumeration value="DERIVED" />
          <xs:enumeration value="INTERPRETED" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="duration">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DAILY" />
          <xs:enumeration value="MONTHLY" />
          <xs:enumeration value="SEMIMONTHLY" />
          <xs:enumeration value="WATER_YEAR" />
          <xs:enumeration value="CALENDAR_YEAR" />
          <xs:enumeration value="HOURLY" />
          <xs:enumeration value="SEASONAL" />
          <xs:enumeration value="ANNUAL" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="centralTendencyType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="AVERAGE" />
          <xs:enumeration value="MEDIAN" />
          <xs:enumeration value="NORMAL" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="instantaneousDataFilter">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ALL" />
          <xs:enumeration value="FIRST_OF_DAY" />
          <xs:enumeration value="MIDNIGHT_ONLY" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="unitSystem">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ENGLISH" />
          <xs:enumeration value="LAST_COLLECTED" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getElements">
    <wsdl:part name="parameters" element="tns:getElements" />
  </wsdl:message>
  <wsdl:message name="getForecastEquations">
    <wsdl:part name="parameters" element="tns:getForecastEquations" />
  </wsdl:message>
  <wsdl:message name="getForecastConfigurationsResponse">
    <wsdl:part name="parameters" element="tns:getForecastConfigurationsResponse" />
  </wsdl:message>
  <wsdl:message name="getForecastEquationsResponse">
    <wsdl:part name="parameters" element="tns:getForecastEquationsResponse" />
  </wsdl:message>
  <wsdl:message name="getForecastPoint">
    <wsdl:part name="parameters" element="tns:getForecastPoint" />
  </wsdl:message>
  <wsdl:message name="areYouThereResponse">
    <wsdl:part name="parameters" element="tns:areYouThereResponse" />
  </wsdl:message>
  <wsdl:message name="getForecastPeriodCentralTendency">
    <wsdl:part name="parameters" element="tns:getForecastPeriodCentralTendency" />
  </wsdl:message>
  <wsdl:message name="getCentralTendencyDataResponse">
    <wsdl:part name="parameters" element="tns:getCentralTendencyDataResponse" />
  </wsdl:message>
  <wsdl:message name="getForecastPeriodsResponse">
    <wsdl:part name="parameters" element="tns:getForecastPeriodsResponse" />
  </wsdl:message>
  <wsdl:message name="getUnitNameResponse">
    <wsdl:part name="parameters" element="tns:getUnitNameResponse" />
  </wsdl:message>
  <wsdl:message name="getForecastsResponse">
    <wsdl:part name="parameters" element="tns:getForecastsResponse" />
  </wsdl:message>
  <wsdl:message name="getForecastPointResponse">
    <wsdl:part name="parameters" element="tns:getForecastPointResponse" />
  </wsdl:message>
  <wsdl:message name="getPeakDataResponse">
    <wsdl:part name="parameters" element="tns:getPeakDataResponse" />
  </wsdl:message>
  <wsdl:message name="getPeakData">
    <wsdl:part name="parameters" element="tns:getPeakData" />
  </wsdl:message>
  <wsdl:message name="getForecastPeriodAverages">
    <wsdl:part name="parameters" element="tns:getForecastPeriodAverages" />
  </wsdl:message>
  <wsdl:message name="getDataInsertedOrUpdatedSince">
    <wsdl:part name="parameters" element="tns:getDataInsertedOrUpdatedSince" />
  </wsdl:message>
  <wsdl:message name="getForecastResponse">
    <wsdl:part name="parameters" element="tns:getForecastResponse" />
  </wsdl:message>
  <wsdl:message name="getForecastPeriods">
    <wsdl:part name="parameters" element="tns:getForecastPeriods" />
  </wsdl:message>
  <wsdl:message name="getHeightDepths">
    <wsdl:part name="parameters" element="tns:getHeightDepths" />
  </wsdl:message>
  <wsdl:message name="areYouThere">
    <wsdl:part name="parameters" element="tns:areYouThere" />
  </wsdl:message>
  <wsdl:message name="getElementResponse">
    <wsdl:part name="parameters" element="tns:getElementResponse" />
  </wsdl:message>
  <wsdl:message name="getInstantaneousData">
    <wsdl:part name="parameters" element="tns:getInstantaneousData" />
  </wsdl:message>
  <wsdl:message name="getForecastPeriodAveragesResponse">
    <wsdl:part name="parameters" element="tns:getForecastPeriodAveragesResponse" />
  </wsdl:message>
  <wsdl:message name="getStationElementsResponse">
    <wsdl:part name="parameters" element="tns:getStationElementsResponse" />
  </wsdl:message>
  <wsdl:message name="getStationMetadataResponse">
    <wsdl:part name="parameters" element="tns:getStationMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="getCentralTendencyPeakDataResponse">
    <wsdl:part name="parameters" element="tns:getCentralTendencyPeakDataResponse" />
  </wsdl:message>
  <wsdl:message name="getStationsResponse">
    <wsdl:part name="parameters" element="tns:getStationsResponse" />
  </wsdl:message>
  <wsdl:message name="getForecastEquationsMultiple">
    <wsdl:part name="parameters" element="tns:getForecastEquationsMultiple" />
  </wsdl:message>
  <wsdl:message name="getAveragesPeak">
    <wsdl:part name="parameters" element="tns:getAveragesPeak" />
  </wsdl:message>
  <wsdl:message name="getForecastPoints">
    <wsdl:part name="parameters" element="tns:getForecastPoints" />
  </wsdl:message>
  <wsdl:message name="getStationMetadataMultiple">
    <wsdl:part name="parameters" element="tns:getStationMetadataMultiple" />
  </wsdl:message>
  <wsdl:message name="getForecastEquationsMultipleResponse">
    <wsdl:part name="parameters" element="tns:getForecastEquationsMultipleResponse" />
  </wsdl:message>
  <wsdl:message name="getElement">
    <wsdl:part name="parameters" element="tns:getElement" />
  </wsdl:message>
  <wsdl:message name="getForecasts">
    <wsdl:part name="parameters" element="tns:getForecasts" />
  </wsdl:message>
  <wsdl:message name="getHourlyData">
    <wsdl:part name="parameters" element="tns:getHourlyData" />
  </wsdl:message>
  <wsdl:message name="runDiagnosticsResponse">
    <wsdl:part name="parameters" element="tns:runDiagnosticsResponse" />
  </wsdl:message>
  <wsdl:message name="getAveragesDataResponse">
    <wsdl:part name="parameters" element="tns:getAveragesDataResponse" />
  </wsdl:message>
  <wsdl:message name="getReservoirMetadata">
    <wsdl:part name="parameters" element="tns:getReservoirMetadata" />
  </wsdl:message>
  <wsdl:message name="getDataInsertedOrUpdatedSinceResponse">
    <wsdl:part name="parameters" element="tns:getDataInsertedOrUpdatedSinceResponse" />
  </wsdl:message>
  <wsdl:message name="getElementsResponse">
    <wsdl:part name="parameters" element="tns:getElementsResponse" />
  </wsdl:message>
  <wsdl:message name="getCentralTendencyPeakData">
    <wsdl:part name="parameters" element="tns:getCentralTendencyPeakData" />
  </wsdl:message>
  <wsdl:message name="getForecastValue">
    <wsdl:part name="parameters" element="tns:getForecastValue" />
  </wsdl:message>
  <wsdl:message name="getAllForecastsForStationResponse">
    <wsdl:part name="parameters" element="tns:getAllForecastsForStationResponse" />
  </wsdl:message>
  <wsdl:message name="getUnits">
    <wsdl:part name="parameters" element="tns:getUnits" />
  </wsdl:message>
  <wsdl:message name="getCentralTendencyData">
    <wsdl:part name="parameters" element="tns:getCentralTendencyData" />
  </wsdl:message>
  <wsdl:message name="getStationMetadata">
    <wsdl:part name="parameters" element="tns:getStationMetadata" />
  </wsdl:message>
  <wsdl:message name="runDiagnostics">
    <wsdl:part name="parameters" element="tns:runDiagnostics" />
  </wsdl:message>
  <wsdl:message name="getForecastConfigurations">
    <wsdl:part name="parameters" element="tns:getForecastConfigurations" />
  </wsdl:message>
  <wsdl:message name="getStationDataAssuredFlagsResponse">
    <wsdl:part name="parameters" element="tns:getStationDataAssuredFlagsResponse" />
  </wsdl:message>
  <wsdl:message name="getUnitsResponse">
    <wsdl:part name="parameters" element="tns:getUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="getForecastPeriodCentralTendencyResponse">
    <wsdl:part name="parameters" element="tns:getForecastPeriodCentralTendencyResponse" />
  </wsdl:message>
  <wsdl:message name="getStationElements">
    <wsdl:part name="parameters" element="tns:getStationElements" />
  </wsdl:message>
  <wsdl:message name="getAveragesData">
    <wsdl:part name="parameters" element="tns:getAveragesData" />
  </wsdl:message>
  <wsdl:message name="getHeightDepthsResponse">
    <wsdl:part name="parameters" element="tns:getHeightDepthsResponse" />
  </wsdl:message>
  <wsdl:message name="getHourlyDataResponse">
    <wsdl:part name="parameters" element="tns:getHourlyDataResponse" />
  </wsdl:message>
  <wsdl:message name="getInstantaneousDataResponse">
    <wsdl:part name="parameters" element="tns:getInstantaneousDataResponse" />
  </wsdl:message>
  <wsdl:message name="getReservoirMetadataMultiple">
    <wsdl:part name="parameters" element="tns:getReservoirMetadataMultiple" />
  </wsdl:message>
  <wsdl:message name="getReservoirMetadataMultipleResponse">
    <wsdl:part name="parameters" element="tns:getReservoirMetadataMultipleResponse" />
  </wsdl:message>
  <wsdl:message name="getForecastPointsResponse">
    <wsdl:part name="parameters" element="tns:getForecastPointsResponse" />
  </wsdl:message>
  <wsdl:message name="getData">
    <wsdl:part name="parameters" element="tns:getData" />
  </wsdl:message>
  <wsdl:message name="getForecast">
    <wsdl:part name="parameters" element="tns:getForecast" />
  </wsdl:message>
  <wsdl:message name="getStations">
    <wsdl:part name="parameters" element="tns:getStations" />
  </wsdl:message>
  <wsdl:message name="getDataResponse">
    <wsdl:part name="parameters" element="tns:getDataResponse" />
  </wsdl:message>
  <wsdl:message name="getInstantaneousDataInsertedOrUpdatedSinceResponse">
    <wsdl:part name="parameters" element="tns:getInstantaneousDataInsertedOrUpdatedSinceResponse" />
  </wsdl:message>
  <wsdl:message name="getForecastsByPubDate">
    <wsdl:part name="parameters" element="tns:getForecastsByPubDate" />
  </wsdl:message>
  <wsdl:message name="getReservoirMetadataResponse">
    <wsdl:part name="parameters" element="tns:getReservoirMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="getUnitName">
    <wsdl:part name="parameters" element="tns:getUnitName" />
  </wsdl:message>
  <wsdl:message name="getForecastValueResponse">
    <wsdl:part name="parameters" element="tns:getForecastValueResponse" />
  </wsdl:message>
  <wsdl:message name="getAllForecastsForStation">
    <wsdl:part name="parameters" element="tns:getAllForecastsForStation" />
  </wsdl:message>
  <wsdl:message name="getAveragesPeakResponse">
    <wsdl:part name="parameters" element="tns:getAveragesPeakResponse" />
  </wsdl:message>
  <wsdl:message name="getInstantaneousDataInsertedOrUpdatedSince">
    <wsdl:part name="parameters" element="tns:getInstantaneousDataInsertedOrUpdatedSince" />
  </wsdl:message>
  <wsdl:message name="getForecastsByPubDateResponse">
    <wsdl:part name="parameters" element="tns:getForecastsByPubDateResponse" />
  </wsdl:message>
  <wsdl:message name="getStationDataAssuredFlags">
    <wsdl:part name="parameters" element="tns:getStationDataAssuredFlags" />
  </wsdl:message>
  <wsdl:message name="getStationMetadataMultipleResponse">
    <wsdl:part name="parameters" element="tns:getStationMetadataMultipleResponse" />
  </wsdl:message>
  <wsdl:portType name="AwdbWebService">
    <wsdl:operation name="getElements">
      <wsdl:input name="getElements" message="tns:getElements" />
      <wsdl:output name="getElementsResponse" message="tns:getElementsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getElement">
      <wsdl:input name="getElement" message="tns:getElement" />
      <wsdl:output name="getElementResponse" message="tns:getElementResponse" />
    </wsdl:operation>
    <wsdl:operation name="getForecastEquations">
      <wsdl:input name="getForecastEquations" message="tns:getForecastEquations" />
      <wsdl:output name="getForecastEquationsResponse" message="tns:getForecastEquationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getForecasts">
      <wsdl:input name="getForecasts" message="tns:getForecasts" />
      <wsdl:output name="getForecastsResponse" message="tns:getForecastsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHourlyData">
      <wsdl:input name="getHourlyData" message="tns:getHourlyData" />
      <wsdl:output name="getHourlyDataResponse" message="tns:getHourlyDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getReservoirMetadata">
      <wsdl:input name="getReservoirMetadata" message="tns:getReservoirMetadata" />
      <wsdl:output name="getReservoirMetadataResponse" message="tns:getReservoirMetadataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getForecastPoint">
      <wsdl:input name="getForecastPoint" message="tns:getForecastPoint" />
      <wsdl:output name="getForecastPointResponse" message="tns:getForecastPointResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCentralTendencyPeakData">
      <wsdl:input name="getCentralTendencyPeakData" message="tns:getCentralTendencyPeakData" />
      <wsdl:output name="getCentralTendencyPeakDataResponse" message="tns:getCentralTendencyPeakDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getForecastPeriodCentralTendency">
      <wsdl:input name="getForecastPeriodCentralTendency" message="tns:getForecastPeriodCentralTendency" />
      <wsdl:output name="getForecastPeriodCentralTendencyResponse" message="tns:getForecastPeriodCentralTendencyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getForecastValue">
      <wsdl:input name="getForecastValue" message="tns:getForecastValue" />
      <wsdl:output name="getForecastValueResponse" message="tns:getForecastValueResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUnits">
      <wsdl:input name="getUnits" message="tns:getUnits" />
      <wsdl:output name="getUnitsResponse" message="tns:getUnitsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCentralTendencyData">
      <wsdl:input name="getCentralTendencyData" message="tns:getCentralTendencyData" />
      <wsdl:output name="getCentralTendencyDataResponse" message="tns:getCentralTendencyDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getStationMetadata">
      <wsdl:input name="getStationMetadata" message="tns:getStationMetadata" />
      <wsdl:output name="getStationMetadataResponse" message="tns:getStationMetadataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPeakData">
      <wsdl:input name="getPeakData" message="tns:getPeakData" />
      <wsdl:output name="getPeakDataResponse" message="tns:getPeakDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="runDiagnostics">
      <wsdl:input name="runDiagnostics" message="tns:runDiagnostics" />
      <wsdl:output name="runDiagnosticsResponse" message="tns:runDiagnosticsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getForecastConfigurations">
      <wsdl:input name="getForecastConfigurations" message="tns:getForecastConfigurations" />
      <wsdl:output name="getForecastConfigurationsResponse" message="tns:getForecastConfigurationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getForecastPeriodAverages">
      <wsdl:input name="getForecastPeriodAverages" message="tns:getForecastPeriodAverages" />
      <wsdl:output name="getForecastPeriodAveragesResponse" message="tns:getForecastPeriodAveragesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getStationElements">
      <wsdl:input name="getStationElements" message="tns:getStationElements" />
      <wsdl:output name="getStationElementsResponse" message="tns:getStationElementsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDataInsertedOrUpdatedSince">
      <wsdl:input name="getDataInsertedOrUpdatedSince" message="tns:getDataInsertedOrUpdatedSince" />
      <wsdl:output name="getDataInsertedOrUpdatedSinceResponse" message="tns:getDataInsertedOrUpdatedSinceResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAveragesData">
      <wsdl:input name="getAveragesData" message="tns:getAveragesData" />
      <wsdl:output name="getAveragesDataResponse" message="tns:getAveragesDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getForecastPeriods">
      <wsdl:input name="getForecastPeriods" message="tns:getForecastPeriods" />
      <wsdl:output name="getForecastPeriodsResponse" message="tns:getForecastPeriodsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHeightDepths">
      <wsdl:input name="getHeightDepths" message="tns:getHeightDepths" />
      <wsdl:output name="getHeightDepthsResponse" message="tns:getHeightDepthsResponse" />
    </wsdl:operation>
    <wsdl:operation name="areYouThere">
      <wsdl:input name="areYouThere" message="tns:areYouThere" />
      <wsdl:output name="areYouThereResponse" message="tns:areYouThereResponse" />
    </wsdl:operation>
    <wsdl:operation name="getReservoirMetadataMultiple">
      <wsdl:input name="getReservoirMetadataMultiple" message="tns:getReservoirMetadataMultiple" />
      <wsdl:output name="getReservoirMetadataMultipleResponse" message="tns:getReservoirMetadataMultipleResponse" />
    </wsdl:operation>
    <wsdl:operation name="getInstantaneousData">
      <wsdl:input name="getInstantaneousData" message="tns:getInstantaneousData" />
      <wsdl:output name="getInstantaneousDataResponse" message="tns:getInstantaneousDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input name="getData" message="tns:getData" />
      <wsdl:output name="getDataResponse" message="tns:getDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getForecast">
      <wsdl:input name="getForecast" message="tns:getForecast" />
      <wsdl:output name="getForecastResponse" message="tns:getForecastResponse" />
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <wsdl:input name="getStations" message="tns:getStations" />
      <wsdl:output name="getStationsResponse" message="tns:getStationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getForecastsByPubDate">
      <wsdl:input name="getForecastsByPubDate" message="tns:getForecastsByPubDate" />
      <wsdl:output name="getForecastsByPubDateResponse" message="tns:getForecastsByPubDateResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUnitName">
      <wsdl:input name="getUnitName" message="tns:getUnitName" />
      <wsdl:output name="getUnitNameResponse" message="tns:getUnitNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllForecastsForStation">
      <wsdl:input name="getAllForecastsForStation" message="tns:getAllForecastsForStation" />
      <wsdl:output name="getAllForecastsForStationResponse" message="tns:getAllForecastsForStationResponse" />
    </wsdl:operation>
    <wsdl:operation name="getForecastEquationsMultiple">
      <wsdl:input name="getForecastEquationsMultiple" message="tns:getForecastEquationsMultiple" />
      <wsdl:output name="getForecastEquationsMultipleResponse" message="tns:getForecastEquationsMultipleResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAveragesPeak">
      <wsdl:input name="getAveragesPeak" message="tns:getAveragesPeak" />
      <wsdl:output name="getAveragesPeakResponse" message="tns:getAveragesPeakResponse" />
    </wsdl:operation>
    <wsdl:operation name="getInstantaneousDataInsertedOrUpdatedSince">
      <wsdl:input name="getInstantaneousDataInsertedOrUpdatedSince" message="tns:getInstantaneousDataInsertedOrUpdatedSince" />
      <wsdl:output name="getInstantaneousDataInsertedOrUpdatedSinceResponse" message="tns:getInstantaneousDataInsertedOrUpdatedSinceResponse" />
    </wsdl:operation>
    <wsdl:operation name="getStationDataAssuredFlags">
      <wsdl:input name="getStationDataAssuredFlags" message="tns:getStationDataAssuredFlags" />
      <wsdl:output name="getStationDataAssuredFlagsResponse" message="tns:getStationDataAssuredFlagsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getForecastPoints">
      <wsdl:input name="getForecastPoints" message="tns:getForecastPoints" />
      <wsdl:output name="getForecastPointsResponse" message="tns:getForecastPointsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getStationMetadataMultiple">
      <wsdl:input name="getStationMetadataMultiple" message="tns:getStationMetadataMultiple" />
      <wsdl:output name="getStationMetadataMultipleResponse" message="tns:getStationMetadataMultipleResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AwdbWebServiceSoapBinding" type="tns:AwdbWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getElements">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getElements">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getElementsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getElement">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getElement">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getElementResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForecastEquations">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getForecastEquations">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getForecastEquationsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForecasts">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getForecasts">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getForecastsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHourlyData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getHourlyData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getHourlyDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservoirMetadata">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getReservoirMetadata">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReservoirMetadataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForecastPoint">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getForecastPoint">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getForecastPointResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCentralTendencyPeakData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCentralTendencyPeakData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCentralTendencyPeakDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForecastPeriodCentralTendency">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getForecastPeriodCentralTendency">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getForecastPeriodCentralTendencyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForecastValue">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getForecastValue">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getForecastValueResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnits">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUnits">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUnitsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCentralTendencyData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCentralTendencyData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCentralTendencyDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationMetadata">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getStationMetadata">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getStationMetadataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPeakData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPeakData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPeakDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runDiagnostics">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="runDiagnostics">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="runDiagnosticsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForecastConfigurations">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getForecastConfigurations">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getForecastConfigurationsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForecastPeriodAverages">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getForecastPeriodAverages">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getForecastPeriodAveragesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationElements">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getStationElements">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getStationElementsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataInsertedOrUpdatedSince">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDataInsertedOrUpdatedSince">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDataInsertedOrUpdatedSinceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAveragesData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAveragesData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAveragesDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForecastPeriods">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getForecastPeriods">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getForecastPeriodsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHeightDepths">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getHeightDepths">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getHeightDepthsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="areYouThere">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="areYouThere">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="areYouThereResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservoirMetadataMultiple">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getReservoirMetadataMultiple">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReservoirMetadataMultipleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInstantaneousData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getInstantaneousData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInstantaneousDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForecast">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getForecast">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getForecastResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getStations">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getStationsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForecastsByPubDate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getForecastsByPubDate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getForecastsByPubDateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnitName">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUnitName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUnitNameResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllForecastsForStation">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAllForecastsForStation">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllForecastsForStationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForecastEquationsMultiple">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getForecastEquationsMultiple">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getForecastEquationsMultipleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAveragesPeak">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAveragesPeak">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAveragesPeakResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInstantaneousDataInsertedOrUpdatedSince">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getInstantaneousDataInsertedOrUpdatedSince">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInstantaneousDataInsertedOrUpdatedSinceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationDataAssuredFlags">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getStationDataAssuredFlags">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getStationDataAssuredFlagsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForecastPoints">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getForecastPoints">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getForecastPointsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationMetadataMultiple">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getStationMetadataMultiple">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getStationMetadataMultipleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AwdbWebService">
    <wsdl:port name="AwdbWebServiceImplPort" binding="tns:AwdbWebServiceSoapBinding">
      <soap:address location="https://wcc.sc.egov.usda.gov/awdbWebService/services" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>